<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <test verbose="2" preserve-order="true" name="/Users/toni.robres/IdeaProjects/ApiTestingFramework">
        <classes>
            <class name="testcases.init.InitRequestTests">
                <methods>
                    <include name="validateInitRequest" />
                </methods>
            </class>
            <class name="testcases.user.CreateUserTests">
                <methods>
                    <include name="CreateCorrectUserTest" />
                    <include name="createUserWithoutPassword" />
                    <include name="createUserWithoutUsername" />
                    <include name="createUserWithIncorrectRole" />
                </methods>
            </class>
            <class name="testcases.user.ListUsersTests">
                <methods>
                    <include name="getUsers" />
                </methods>
            </class>
        </classes>
    </test>
</suite>